@font-face {
    font-family: 'Inter', sans-serif;
    src: url('assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 900;
}
html {
  font-size: 14px;
}
:root {
  /* colors */
  --background-color: #141414;
  --bg-card-color: #1f1f1f;
  --font-color: #ffffff;
  --accent-color: #c4f82a;
  --bg-link-color: #333333;

  /* font */
  --font-family-primary: 'Inter', sans-serif;
  --font-size-base: 1rem;
  --font-size-lg: 1.714rem; /* 24px */
  --font-weight-reg: 400;
  --font-weight-med: 600;
  --font-weight-bold: 700; 

  /* spacing */
  --spacing-40px: 2.857rem;
  --spacing-24px: 1.714rem;
  --spacing-16px: 1.143rem;
  --spacing-12px: 0.857rem;

  /* borders*/
  --border-radius-card: 12px;
  --border-radius-link: 8px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-reg);
  background-color: var(--background-color);
  color: var(--font-color);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */